.cta-section {
  margin-bottom: 150px;
}

.cta-content {
  text-align: center;
}


.cta-heading {
  max-width: 500px;
  margin: auto;
  margin-bottom: 25px;
}

.cta-paragraph {
  max-width: 500px;
  margin: auto;
  margin-bottom: 25px;
}