header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  margin-bottom: 80px;
}

.logo-design {
  cursor: pointer;
}

.nav-links {
  list-style: none;
}

.nav-links,
li {
  display: flex;
  padding-left: 30px;
}